# ログファイル
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ランタイムデータ
pids
*.pid
*.seed
*.pid.lock

# ビルドディレクトリ
/build

# モジュールディレクトリ
/node_modules

# IDEの設定
/.idea
/.vscode

# ローカルenvファイル
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debugログ
npm-debug.log*

# Yarnのエラーログ
.yarn-error.log

# TypeScriptのビルド出力
/dist

# TypeScriptの設定ファイル
tsconfig.json
